@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Condensed:wght@300&display=swap');
.ecriture{

    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto Condensed', sans-serif;


}
.couleur{
background-color: blueviolet;



}